<div class="content" rola="main">
<h1> Product Info</h1>
<h3 ><button (click)="MaxDiscount()">Max discount</button></h3>
<h3 ><button (click)="PriceLevel()">Price level</button></h3>
<h3 ><button (click)="CountCategory()">Category counts</button></h3>



<div class="alert alert-info alert-dismissible fade show" role="alert" *ngFor="let item of productInfo">
  <strong>{{item.title}}</strong>
  <hr>
  {{item.description}}
  <br>
  {{item.price}}
  <br>
  {{item.discountPercentage}}
  <br>
  {{item.rating}}
  <br>
  {{item.stock}}
  <br>
  {{item.brand}}
  <br>
  {{item.category}}
  <br>
  <div class="container">
    <div class="row"  >
      <div class="col" *ngFor="let pic of item.images">
        <img src="{{pic}}" class="hide-bg"/>
      </div>
    </div>
  </div>
  <strong>Comments on the product</strong>
  <hr>
  <div *ngFor="let com of productComments">
    <div>Username: {{com.userNamm}}
      </div>
    <div id="edit">Comment: "{{com.body}}<input [(ngModel)]="newBody" type="text">
      <button (click)="EditComment(com.id)">EDIT</button></div>
  </div>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="closeAlert()"></button>
</div>



<hr>
<table class="table" >
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">thumbnail</th>
      <th scope="col">title</th>
      <th scope="col">price</th>
      <th scope="col">discount</th>
      <th scope="col">rating</th>
      <th scope="col">stock</th>
      <th scope="col">brand</th>
      <th scope="col">category</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody *ngFor="let item of products" [class]="styleBinding(item)" class="table-success" >
    <tr>
      <td>{{ item.id }}</td>
      <td> <img src="{{item.thumbnail}}" class="hide-bg"/></td>
      <td>{{ item.title }}</td>
      <td>{{ item.price }}</td>
      <td>{{ item.discountPercentage }}</td>
      <td>{{ item.rating }}</td>
      <td>{{ item.stock }}</td>
      <td>{{ item.brand }}</td>
      <td>{{ item.category }}</td>
      <td><button (click)="deleteItem(item)" >DEL</button><br>
        <button (click)="showInfo(item)">MORE</button>
      </td>
    </tr>
  </tbody>
</table>
</div>


<router-outlet></router-outlet>
